/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/Gemfile.lock

# RSpec failure tracking
.rspec_status

# RuboCop caches
.rubocop-http---*
.rubocop-https---*

# Relaton local cache directory
localcache
